<div class="container main">
    <div class="col-md-4 col-md-offset-3">
        <h1>Login</h1>
        <form {{action 'authenticate' on='submit'}} class="form-horizontal" role="form">
            <div class="form-group">
                <label for="identification">Login</label>
              {{input value=identification placeholder='Enter Login' class="form-control"}}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
              {{input value=password placeholder='Enter Password' type='password' class="form-control"}}
            </div>
            <button type="submit" class="btn btn-success form-control">Login</button>
        </form>
    </div>
</div>